@font-face {
    font-family: sansNarrow;
    src: url(/assets/fonts/PTSansNarrow-Regular.ttf);
}

@font-face {
    font-family: sansNarrowBold;
    src: url(/assets/fonts/PTSansNarrow-Bold.ttf);
}

$dark: #21272e;
$darker: #1c2127;
$light-dark: #303741;
$primary-theme: #f6e084;
$primary-theme: #00ffc8;
$primary-theme: #ff9843;

@mixin centerElem($min-height: unset) {
    display: flex;
    align-items: center;
    min-height: $min-height;
    justify-content: center;
}

$primary-font: sansNarrow;
$primary-font-bold: sansNarrowBold;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font, roboto, sans-serif;
}