@use "../../../styles/global" as *;

.people-view {

    .top-bar {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-dark;
    
        button {
            gap: 1rem;
            color: #999;
            width: 100%;
            border: none;
            padding: 1rem;
            cursor: pointer;
            transition: .5s ease;
            background: $light-dark;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.2rem;
                height: 1.2rem;
            }
            
            &.active {
                background: $dark;
                color: $primary-theme;
            }
        }
    }
}